.daysContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.dayButton {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.dayButton:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #4caf50;
  border-color: white;
}
