.wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden; /* Importante para a animação */
}

.container{
    width: 60%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d; /* Importante para o efeito 3D */
}

.placeholder {
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: #e9ecef;
}

/* Animação de flip */
.flip {
    transform: rotateY(180deg);
}

/* Ajuste para o conteúdo não ficar espelhado após o flip */
.flip > * {
    transform: rotateY(-180deg);
}

/* Media Queries */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .container {
        width: 100%;
        padding: 1rem;
        min-height: 100vh;
    }

    .placeholder {
        display: none; /* Oculta a imagem em telas pequenas */
    }
}